<a href="https://colab.research.google.com/github/Omayer-Ahmed/Python/blob/main/Lab_Practice_Cryptography_And_Network_Security.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Syntax

indentent error: indentation error can occur when the spaces or tabs are not placed properly.

In [ ]:
if 5>2:
print("5 is greater than 2")

IndentationError: expected an indented block after 'if' statement on line 1 (2693080537.py, line 2)

#solve the indentation error

In [ ]:
if 5>2:
  print("5 is greater than 2")

5 is greater than 2

In [ ]:
if 4>2:
    print("4 is greater than 2.");
 print("It is correct.");

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

#solve the indentation error

In [ ]:
if 4>2:
    print("4 is greater than 2.");
    print("It is correct.");

4 is greater than 2.
It is correct.

# Python Comments

single line comment:
    To take single line comment we use '#' symbol

In [ ]:
#how to print anything in python
print("Omayer Ahmed")

Omayer Ahmed

Multiple Line Comment : To take multiple line comments we use """ write here comments"""  or  ''' write here comments '''

In [ ]:
#use of single quotes
''' write here text to take multiple line comments '''

' write here text to take multiple line comments '

In [ ]:
#use of double quotes
""" write here text to take multiple line comments """

' write here text to take multiple line comments '

# Python Variables

Variables:Variables are containers that can store different types of data values.

#single value with single variable

In [ ]:
#initialize different variables without casting

x=5
y=23.3
name="Omayer Ahmed"

print("x would be ",x)
print("y would be ",y)
print("Name would be ",name);

x would be  5
y would be  23.3
Name would be  Omayer Ahmed

#Multiple values with multiple variables

In [ ]:
#initialize different variables without casting

x,n,d = 23,"Omayer Ahmed","Mymenshingh"

print("I am only ",x,".")
print("My name is ",n)
print("and my home discrict is ",d)

I am only  23 .
My name is  Omayer Ahmed
and my home discrict is  Mymenshingh

#multiple variables print in a single "print()"function

In [ ]:
x="I am a student"
y="of"
z="CSE."

print(x,y,z)

I am a student of CSE.

In [ ]:
#multiple variables print in a single "print()"function

x="I am a student"
y="of"
z="CSE."

print(x+" "+y+" "+z)

I am a student of CSE.

Local Variable in Python:Local Variable can be used a specific environment not any environment.

In [ ]:
#Initialization a local variable in a function

def MyLocalVariable():

    x=200
    print("Local Varible is ",x)
    return

MyLocalVariable()

Local Varible is  200

Global Variable: Global Variable can be used from anywhere.

In [ ]:
#Initialization a global variable in a function

x=100

def MyGlobalVariable():

    print("Global Variable is ",x)
    return


print("Global Variable is ",x)

MyGlobalVariable()

Global Variable is  100
Global Variable is  100

# Python Data Types

A variable can be store in different data types

Text Type

In [ ]:
#Use of single quates
Name="Omayer Ahmed"

#Use of double quates
Address='Mymensingh'

print(type(Name))
print(type(Address))

<class 'str'>
<class 'str'>

Numeric Types

In [ ]:
#int type
x=5
print(type(x))

#float type
x=2.4
print(type(x))

#complex
x=2j
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>

Sequence Types

In [ ]:
#list type
l=[1,2,3,"Omayer","Ahmed"]
print(type(l))

#tuple type
t=(3,2,3,"CSE")
print(type(t))

#range type
r=range(1,10)
print(type(r))

<class 'list'>
<class 'tuple'>
<class 'range'>

Mapping Type

In [ ]:
#dictinary
d ={
    "ID":20111108,
    "Name":"Omayer",
    "Address":"Jamalpur"
  }
print(type(d))

<class 'dict'>

Set types

In [ ]:
#set type
s={2,3,3,4,"Omayer","Ahmed"}
print(type(s))

#frozenset
f=({2,3,4,3,"CSE"})
print(type(f))

<class 'set'>
<class 'set'>

Boolean Type

In [ ]:
#bool type
x=True
y=False
print(type(x))
print(type(y))

<class 'bool'>
<class 'bool'>

Binary Types

#bytes
The bytes data type is used to represent a group of byte number.
.The bytes is like an array which can hold multiple value
.The bytes can store the number between 0 to 255

In [ ]:
#bytes

l=[2,3,23,3,56] # list
s=bytes(l) # From list to bytes
print(s[0])
print(s[3])
print(type(s))

2
3
<class 'bytes'>

In [ ]:
#bytearray

l=[33,45,66,64,90]
s=bytearray(l)
print(type(s))
print(s[0],s[1])
print(s[3]+s[2])

<class 'bytearray'>
33 45
130

In [ ]:
#memoryview
# Create a bytes object

data =b"Aabc!"
x=memoryview(data)
print(type(x))
print(x[0])

<class 'memoryview'>
65

None Type

In here ,value is not assigned in variable

In [ ]:
#none type
a=None
print(a)
print(type(a))

None
<class 'NoneType'>

# Number in Python

In [ ]:
#int
x=22
y=323
z=3333333333232
print("x:",type(x))
print("y:",type(y))
print("z:",type(z))


#float
a=3.3
b=32.3
c=333.33333333333333
print("a:",type(a))
print("b:",type(b))
print("c:",type(c))


#Complex
m=2+3j
n=23j+3
print(type(m))
print(type(n))

x: <class 'int'>
y: <class 'int'>
z: <class 'int'>
a: <class 'float'>
b: <class 'float'>
c: <class 'float'>
<class 'complex'>
<class 'complex'>

Conversion of Numbers

In [ ]:
#int to float number convirsion

a=333
b=343
print(float(a))
print(float(b))

#float to int conversion

a=33.33
b=334.444
print(int(a))
print(int(b))

#int to complex number conversion

x=3444
print(complex(x))

333.0
343.0
33
334
(3444+0j)

# Casting In Python

In [ ]:
#integers
a=int(3)
b=int(3.4)
c=int(45.832)
print(a,b,c)

#float
a=float(3)
b=float(3.33)
c=float(3.43423)
print(a,b,c)

#string
a=str(3.323)
b=str('abc')
c=str("Omayer")
print(a,b,c)

3 3 45
3.0 3.33 3.43423
3.323 abc Omayer

# String in Python

In [ ]:
#use of string in python
a="I am a student of CSE "
b='I live in Jamalpur'
c='''My home discrict is Mymensingh'''
d="""Jamalpur is under the Mymensingh division"""


print(a)
print(b)
print(c)
print(d)

I am a student of CSE
I live in Jamalpur
My home discrict is Mymensingh
Jamalpur is under the Mymensingh division

string as array

In [ ]:
#string as array

a="""My name is Omayer Ahmed"""

#positive indexing
print(a[0])
print(a[4])

#negative indexing
print(a[-1])
print(a[-2])

M
a
d
e

In [ ]:
#looping throuth a string

for i in "Omayer Ahmed":
    print(i)

O
m
a
y
e
r

A
h
m
e
d

Length calculation from a string

In [ ]:
#use of len() function

U='''Bangama Sheikh Fojilatunnesa Mujib Science and Technology University'''
print("Length of string s is ",len(U))


d="""Computer Science And Engineering"""
print("Length of d is ",len(d))

Length of string s is  68
Length of d is  32

Test a text is whether present in a string or not

In [ ]:
#string
text="""We are the people of Bangladesh"""

print("We" in text)
print("people" in text)

#number as a string
x='''2,3,3,44,3'''
print('2' in x)

#using of if statement
deptn="""Computer Science and Engineering"""
if "Science" in deptn:
    print("yes,it exists in this sentence")

#using of not if statement
deptn="""Computer Science And Engineering"""

if "University" not in deptn:
        print("University does not exist in deptn")

True
True
True
yes,it exists in this sentence
University does not exist in deptn

Python Slicing String

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [ ]:
text="""We are the people of Bangladesh"""

print(text[0:2])
print(text[0:6])
print(text[0:10])
print(text[0:17])
print(text[0:20])
print(text[0:31])

We
We are
We are the
We are the people
We are the people of
We are the people of Bangladesh

In [ ]:
#slice from starting

text="""We are the people of Bangladesh"""

print(text[:17])

#slice from ending
print(text[6:])

We are the people
 the people of Bangladesh

Modify String

In [ ]:
#upper case
s=" We are the people of Bangladesh "
print(s.upper())

#lower case
print(s.lower())

#remove white space  ;we use strip() to remove white space of beginning and ending
print(s.strip())

#replace string
print(s.replace("Bangladesh","BD"))

#split string
print(s.split())

#string Concatenation
F_name="Omayer"
L_name="Ahmed"
print("Full Name:",F_name+" "+L_name)

#string format
#convert a number into a string
a,b,c=2,400,350
f="Please give me {0} books.How much price are these books?These are onle {1} Take .
I will give you {2} Take. "

print(f.format(a,b,c))

 WE ARE THE PEOPLE OF BANGLADESH
 we are the people of bangladesh
We are the people of Bangladesh
 We are the people of BD
['We', 'are', 'the', 'people', 'of', 'Bangladesh']
Full Name: Omayer Ahmed
Please give me 2 books.How much price are these books?These are onle 400 Take .I will give you 350 Take.

escape character

In [ ]:
#Backspace
s="We are the people \bof Bangladesh"
print(s)

#use of tab
s="We are the people\tof Bangladesh"
print(s)

#use of new line
s="We are the people \n of Bangladesh"
print(s)

We are the people of Bangladesh
We are the people	of Bangladesh
We are the people
 of Bangladesh

# Python Booleans

In [ ]:
#booleans value
print(4>4)
print(43>34)
print(-3939<3230)

#useing condition
if 3>2:
    print("3 is greater than 2")
else:
   print("3 is not greate than 2")

#use of bool()
print(bool(-3))
print(bool(3j))
print(bool([2,3,3,4,3]))

#use bool in function
def byfunction():

    if 3>2:
       return True
    else:
       return False

byfunction()

False
True
True
3 is greater than 2
True
True
True

True

# Python Operators

#assignment operator

In [ ]:
#add ,sub,div,mod
x,y=10,10
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)

#increment operators
x=10
x+=2
print(x)

#decrement operators
x=10
x-=2
print(x)

#use of multiplication
x=10
x*=10
print(x)

20
0
100
1.0
0
12
8
100

#Comparison operator

In [ ]:
a,b,c,d=10,200,30,40

if a>b:

    print(a)

elif b>c:

    print(b)

elif c>d:
    print(c)

else:
    print(d)

200

#logical operator

In [ ]:
#logical or
x,y,z=2,20,200
if x>20 or y<20 or z>=200:
    print("Correct")
else:
    print("Error")


#logical and
x,y,z=30,3,330
if x<=20 and y<30:
    print("Correct")

else:
    print("False")


#logical not
x,y,z=100,120,303
if not(x<y and x <z):
    print("False")
else:
    print("Yes")

Correct
False
Yes

#identity operator

In [ ]:
x={1,2,2,3,"Omayer","Ahmed"}
y={1,2,2,3,"Omayer","Ahmed"}
z=y

if x is y:
    print("x is y")
else:
    print("x's elements are same but content is different")

#or
if y is not z:
    print("True")
else:
    print("False")

x's elements are same but content is different
False

#membership operator

In [ ]:
#use of 'in' and 'not in'

x=["Omayer",24,"Mymensingh",20111108]

print("Omayer" in x)
print(24 in x)

print("Hello World" not in x)

True
True
True

#Bitwise operator

In [ ]:
#bitwise and
x,y=2,3
#and
print(x & y)

#or
print(x | y)

#xor
print(x ^ y)

2
3
1

# Python Lists

#list takes the multiple item in a single variable
#Use a square backet

#List items are ordered, changeable, and allow duplicate values.

#indexing list items

In [ ]:
lis=[1,2,2,"Omayer","Ahmed"]

print(lis[0])
print(lis[3][4])
print(lis[3])
print(lis[4][3])
print(lis)
print(type(lis))

1
e
Omayer
e
[1, 2, 2, 'Omayer', 'Ahmed']
<class 'list'>

In [ ]:
#use of nested list
lis=[1,2,3,[10,20,30],40,["Omayer","Ahmed"]]
print(lis[0])
print(lis[3])
print(lis[3][2])
print(lis[5])
print(lis[5][1])
print(lis[5][1][0])

1
[10, 20, 30]
30
['Omayer', 'Ahmed']
Ahmed
A

In [ ]:
#use of negative indexing in list
lis=[1,2,3,[10,20,30],40,["Omayer","Ahmed"]]
print(lis[-1])
print(lis[-1][-1])
print(lis[-3])
print(lis[-3][-1])

['Omayer', 'Ahmed']
Ahmed
[10, 20, 30]
30

In [ ]:
#range specific indexing in list
lis=[1,2,3,[10,20,30],40,["Omayer","Ahmed"]]
print(lis[3:6])
print(lis[0:3])
print(lis[4:6])
print(lis[:4])
print(lis[3:])
print(lis[-3:])
print(lis[-6:-3])

[[10, 20, 30], 40, ['Omayer', 'Ahmed']]
[1, 2, 3]
[40, ['Omayer', 'Ahmed']]
[1, 2, 3, [10, 20, 30]]
[[10, 20, 30], 40, ['Omayer', 'Ahmed']]
[[10, 20, 30], 40, ['Omayer', 'Ahmed']]
[1, 2, 3]

In [ ]:
#use of if statement to check a item exists in a list or not
lis=[1,2,3,[10,20,30],40,["Omayer","Ahmed"]]

if 400 in lis:
    print("yes")
else:
    print("NO")

NO

Change list items value

In [ ]:
color=['red','green','yellow','cyan',[1,2,3,['magenta','sky blue'],4,5]]
color[3]='blue'
print(color)

color[4][1]=10
print(color)

color[4][3][1]='cyan'
print(color)

['red', 'green', 'yellow', 'blue', [1, 2, 3, ['magenta', 'sky blue'], 4, 5]]
['red', 'green', 'yellow', 'blue', [1, 10, 3, ['magenta', 'sky blue'], 4, 5]]
['red', 'green', 'yellow', 'blue', [1, 10, 3, ['magenta', 'cyan'], 4, 5]]

Change a Range of Item Values

In [ ]:
#replace an item instead of an list item in a list

book = ['English', 'Bangla', 'Math', [1, 2, ['physics', 'chemistry', 'biology'], 3, 4], 40, 60, 70]

book[0:3] = ['C++', 'C',"Jave"]
print(book)


book = ['English', 'Bangla', 'Math', [1, 2, ['physics', 'chemistry', 'biology'], 3, 4], 40, 60, 70]
book[3][2][1:3]=["HTML","CSS"]
print(book)


book = ['English', 'Bangla', 'Math', [1, 2, ['physics', 'chemistry', 'biology'], 3, 4], 40, 60, 70]
book[3][2][1:3]=[2,"CSS"]
print(book)

['C++', 'C', 'Jave', [1, 2, ['physics', 'chemistry', 'biology'], 3, 4], 40, 60, 70]
['English', 'Bangla', 'Math', [1, 2, ['physics', 'HTML', 'CSS'], 3, 4], 40, 60, 70]
['English', 'Bangla', 'Math', [1, 2, ['physics', 2, 'CSS'], 3, 4], 40, 60, 70]

Insert Items

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

In [ ]:
#inset itmes in a list

food=['egg','butter','sandwich',['pizza','bread',1,2,3],50,600,['fish','cumumber'],40]

food.insert(1,"suger")
print(food)


food=['egg','butter','sandwich',['pizza',[20,30,40],'bread',1,2,3],50,600,['fish','cumumber'],40]
food[3].insert(1,"egg")
print(food)


food=['egg','butter','sandwich',['pizza',[20,30,40],'bread',1,2,3],50,600,['fish','cumumber'],40]
food[3][1].insert(2,500)
print(food)

['egg', 'suger', 'butter', 'sandwich', ['pizza', 'bread', 1, 2, 3], 50, 600, ['fish', 'cumumber'], 40]
['egg', 'butter', 'sandwich', ['pizza', 'egg', [20, 30, 40], 'bread', 1, 2, 3], 50, 600, ['fish', 'cumumber'], 40]
['egg', 'butter', 'sandwich', ['pizza', [20, 30, 500, 40], 'bread', 1, 2, 3], 50, 600, ['fish', 'cumumber'], 40]

#add list items in python

To add an item to the end of the list, use the append() method

In [ ]:
sports=['swimming','cycling',['boxing',['shooting',['cricket','football'],'volleyball',],2,3,'judo']
                              ,'diving','athletics']

sports.append('ice hockey')
print(sports)

['swimming', 'cycling', ['boxing', ['shooting', ['cricket', 'football'], 'volleyball'], 2, 3, 'judo'], 'diving', 'athletics', 'ice hockey']

extend a list using extend() method

In [ ]:
#use of extend method
car=['bus','CNG','auto','train']
color=['red','green','yellow','blue']

car.extend(color)
print(car)

['bus', 'CNG', 'auto', 'train', 'red', 'green', 'yellow', 'blue']

Remove Specified Item

In [ ]:
#remove specified item from a list
food=['egg','butter','sandwich',['pizza','bread',1,2,3],50,600,['fish','cumumber'],40]

food[3].remove('pizza')
food.remove("butter")
print(food)


# Remove Specified Index
#To remove specified index we use pop() method
book = ['English', 'Bangla', 'Math', [1, 2, ['physics', 'chemistry', 'biology'], 3, 4], 40, 60, 70]

book[3][2].pop(0)
print(book)


#To clear all items from a list we use clear() method

food=['egg', 'sandwich', ['bread', 1, 2, 3], 50, 600, ['fish', 'cumumber'], 40]
food.clear()
print(food)

['egg', 'sandwich', ['bread', 1, 2, 3], 50, 600, ['fish', 'cumumber'], 40]
['English', 'Bangla', 'Math', [1, 2, ['chemistry', 'biology'], 3, 4], 40, 60, 70]
[]

#loop list in python

In [ ]:
#use of loop list
food=['egg', 'sandwich', ['bread', 1, 2, 3], 50, 600, ['fish', 'cumumber'], 40]
for f in food:
      print(f)

egg
sandwich
['bread', 1, 2, 3]
50
600
['fish', 'cumumber']
40
bread
1
2
3

In [ ]:
#sub list itmes print
food=['egg', 'sandwich', ['bread', 1, 2, 3], 50, 600, ['fish', 'cumumber'], 40]
subitmes=food[2]
for i in subitmes:
     print(i)

bread
1
2
3

In [ ]:
#all itmes print from a list
food = ['egg', 'sandwich', ['bread', 1, 2, 3], 50]

for item in food:
    if isinstance(item, list) and 2 in item:
        sublist = food[2]
        for value in sublist:
            print(value)
    else:
        print(item)

egg
sandwich
bread
1
2
3
50

Python List Comprehention

In [ ]:
fruits=['apple','orange','guava','dates','plum','mango']
NewList=[]

for i in fruits:
    if "a" in i:
        NewList.append(i)

print(NewList)

['apple', 'orange', 'guava', 'dates', 'mango']

# Tuples in python

Tuple items are ordered, unchangeable, and allow duplicate values.

In [ ]:
#use of parenthesis

fruits=(1,2,3,'apple','orange','guava',('dates','plum','mango'),True,5,False)

print(fruits)
print(type(fruits))
print(len(fruits))

(1, 2, 3, 'apple', 'orange', 'guava', ('dates', 'plum', 'mango'), True, 5, False)
<class 'tuple'>
10

In [ ]:
#access tuples

fruits=(1,2,3,'apple','orange','guava',('dates','plum',('jackfruit',200,400),'mango'),True,5)
print(fruits[0])
print(fruits[0:3])
print(fruits[3:6])
print(fruits[6][0])
print(fruits[6][2][0])

#use of negative indexing
print(fruits[-3:-1])
print(fruits[-3][-2][-3:-1])
print(fruits[-3][-3])

1
(1, 2, 3)
('apple', 'orange', 'guava')
dates
jackfruit
(('dates', 'plum', ('jackfruit', 200, 400), 'mango'), True)
('jackfruit', 200)
plum

#update tuples

In [ ]:
#to update anyting at first we have to convert tuples into list

food=('egg', 'sandwich', ('bread', 1, 2, 3), 50, 600, ('fish', 'cumumber'), 40)
x=list(food)
print(type(x))
print(x)


#insert item in tuple
x.insert(1,"banana")
food=tuple(x)
print(food)

<class 'list'>
['egg', 'sandwich', ('bread', 1, 2, 3), 50, 600, ('fish', 'cumumber'), 40]
('egg', 'banana', 'sandwich', ('bread', 1, 2, 3), 50, 600, ('fish', 'cumumber'), 40)

In [ ]:
#remove item from a tuple using a list
food = ('egg', 'sandwich', ('bread', 1, 2, 3), 50, 600, ('fish', 'cumumber'), 40)

x = list(food)
c = list(x[2])
c.remove('bread')
x[2] = tuple(c)
food = tuple(x)
print(food)

('egg', 'sandwich', (1, 2, 3), 50, 600, ('fish', 'cumumber'), 40)

In [ ]:
#remove item from a tuple using a list

food = ('egg', 'sandwich', ('bread', 1, 2, 3), 50, 600, ('fish', 'cumumber'), 40)
x = list(food)
k = list(x[5])
k.insert(1, "Vegetable")
x[5] = tuple(k)
food = tuple(x)
print(food)

('egg', 'sandwich', ('bread', 1, 2, 3), 50, 600, ('fish', 'Vegetable', 'cumumber'), 40)

In [ ]:
#add item use append() method

food = ('egg', 'sandwich', ('bread', 1, 2, 3), 50, 600, ('fish', 'cumumber'), 40)

x=list(food)
k=list(x[2])
k.append("banana")
x[2]=tuple(k)
food=tuple(x)
print(food)

('egg', 'sandwich', ('bread', 1, 2, 3, 'banana'), 50, 600, ('fish', 'cumumber'), 40)

In [ ]:
#use of loop in tuple
food = ('egg', 'sandwich', ('bread', 1, 2, 3), 50, 600, ('fish', 'cumumber'), 40)
for i in range(len(food)):
    print(i)#indexing
    print(food[i])#item for each index


#use of while loop
food = ('egg', 'sandwich', ('bread', 1, 2, 3), 50, 600, ('fish', 'cumumber'), 40)
i=0
while  i < len(food):
    print("index",i,food[i])
    i+=1

0
egg
1
sandwich
2
('bread', 1, 2, 3)
3
50
4
600
5
('fish', 'cumumber')
6
40
index 0 egg
index 1 sandwich
index 2 ('bread', 1, 2, 3)
index 3 50
index 4 600
index 5 ('fish', 'cumumber')
index 6 40

In [ ]:
#use of multiple tuples in a tuple
food = ('egg', 'sandwich', ('bread', 1, 2, 3), 50, 600, ('fish', 'cumumber'), 40)
fruits=(1,2,3,'apple','orange','guava',('dates','plum',('jackfruit',200,400),'mango'),True,5)
k=food+fruits
print(k)

#or
k=food*2
print(k)

('egg', 'sandwich', ('bread', 1, 2, 3), 50, 600, ('fish', 'cumumber'), 40, 1, 2, 3, 'apple', 'orange', 'guava', ('dates', 'plum', ('jackfruit', 200, 400), 'mango'), True, 5)
('egg', 'sandwich', ('bread', 1, 2, 3), 50, 600, ('fish', 'cumumber'), 40, 'egg', 'sandwich', ('bread', 1, 2, 3), 50, 600, ('fish', 'cumumber'), 40)

# Sets items in python

Set items are unordered, unchangeable, and do not allow duplicate values.

In [ ]:
#access the items
info={'fname','lname','id','dept','year'}
print(info)

#use of for loop
for i in info:

    print(i)

{'id', 'lname', 'year', 'dept', 'fname'}
id
lname
year
dept
fname

In [ ]:
#add items in a set using add() method
day={'Satarday','Sunday','Monday','Tuesday','Wednesday','Thursday'}
day.add('Friday')
print(day)

{'Monday', 'Wednesday', 'Friday', 'Thursday', 'Tuesday', 'Sunday', 'Satarday'}

To add two set in a single set

In [ ]:
day={'Satarday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday'}
dcount={1,2,3,4,5,6,7}

day.update(dcount)
print(day)

{1, 2, 3, 4, 'Wednesday', 5, 6, 7, 'Monday', 'Friday', 'Thursday', 'Tuesday', 'Sunday', 'Satarday'}

To remove an item in a set, use the remove()

In [ ]:
day={'Satarday','Sunday','Monday','Tuesday','Wednesday','Thursday','Friday'}
day.remove("Satarday")
print(day)

#use of loop
for i in day:
    print(i)

{'Monday', 'Wednesday', 'Friday', 'Thursday', 'Tuesday', 'Sunday'}
Monday
Wednesday
Friday
Thursday
Tuesday
Sunday

# Python Dictionaries

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:

In [ ]:
info={
    "Id"   :20111108,
    "fname":"Omayer",
    "lname":"Ahmed",

   }
print(type(info))
print("ID:",info["Id"])
print("First_Name:",info["fname"])
print("Last_Name:",info["lname"])
print("Full Name:",info["fname"]," ",info["lname"])

<class 'dict'>
ID: 20111108
First_Name: Omayer
Last_Name: Ahmed
Full Name: Omayer   Ahmed

In [ ]:
# String, int, boolean, and list data types in dictionaries
info={
    "Id"   :20111108,
    "fname":"Omayer",
    "lname":"Ahmed",
    "data" :True,
    "address":["Bangladesh","Mymensingh",'Gafargaon']

   }
print(info["address"])

['Bangladesh', 'Mymensingh', 'Gafargaon']

In [ ]:
# use of nested dictionary and access items

info = {
    "student1": {
        "Id": 20111108,
        "fname": "Omayer",
        "lname": "Ahmed",
        "address": ["Bangladesh", "Mymensingh", "Gafargaon"]
    },
    "student2": {
        "Id": 20111110,
        "fname": "Abdullah",
        "lname": "Korim",
        "address": {
                "country":"Bangladesh",
                "district":"Mymensingh",
                "Upazila" :"Gafargaon"
              }
    }
}

print(info["student2"]["address"])
print(info["student2"]["address"]["district"])
print(info["student1"]["Id"])

{'country': 'Bangladesh', 'district': 'Mymensingh', 'Upazila': 'Gafargaon'}
Mymensingh
20111108
{'Id': 20111108, 'fname': 'Omayer', 'lname': 'Ahmed', 'address': ['Bangladesh', 'Mymensingh', 'Gafargaon'], 'religious': 'Islam'}
{'country': 'Bangladesh', 'district': 'Mymensingh'}

In [ ]:
#remove item from a dictionary using pop() method

info = {
    "student1": {
        "Id": 20111108,
        "fname": "Omayer",
        "lname": "Ahmed",
        "address": ["Bangladesh", "Mymensingh", "Gafargaon"]
    },
    "student2": {
        "Id": 20111110,
        "fname": "Abdullah",
        "lname": "Korim",
        "address": {
                "country":"Bangladesh",
                "district":"Mymensingh",
                "Upazila" :"Gafargaon"
              }
    }
}
info["student2"]["address"].pop("Upazila")
print(info["student2"]["address"])

{'country': 'Bangladesh', 'district': 'Mymensingh'}

In [ ]:
#add key and values in dictionary
info = {
    "student1": {
        "Id": 20111108,
        "fname": "Omayer",
        "lname": "Ahmed",
        "address": ["Bangladesh", "Mymensingh", "Gafargaon"]
    },
    "student2": {
        "Id": 20111110,
        "fname": "Abdullah",
        "lname": "Korim",
        "address": {
                "country":"Bangladesh",
                "district":"Mymensingh",
                "Upazila" :"Gafargaon"
              }
    }
}

info["student1"]["religious"]="Islam"
print(info["student1"])

{'Id': 20111108, 'fname': 'Omayer', 'lname': 'Ahmed', 'address': ['Bangladesh', 'Mymensingh', 'Gafargaon'], 'religious': 'Islam'}

In [ ]:
#remove item from a dictionary using pop() method
info = {
    "student1": {
        "Id": 20111108,
        "fname": "Omayer",
        "lname": "Ahmed",
        "address": ["Bangladesh", "Mymensingh", "Gafargaon"]
    },
    "student2": {
        "Id": 20111110,
        "fname": "Abdullah",
        "lname": "Korim",
        "address": {
                "country":"Bangladesh",
                "district":"Mymensingh",
                "Upazila" :"Gafargaon"
              }
    }
}
info["student2"]["address"].pop("Upazila")
print(info["student2"]["address"])

{'country': 'Bangladesh', 'district': 'Mymensingh'}

In [ ]:
# see the key and values of dictionaries
info = {
    "student1": {
        "Id": 20111108,
        "fname": "Omayer",
        "lname": "Ahmed",
        "address": ["Bangladesh", "Mymensingh", "Gafargaon"] #use of list
    },
    "student2": {
        "Id": 20111110,
        "fname": "Zubayer",
        "lname": "Rahman",
        "address": {
                "country":"Bangladesh",
                "district":"Mymensingh",
                "Upazila" :"Gafargaon"
              }
    }
}


#see keys only
for i in info.keys():
    print(i)


#see values only
for i in info["student1"].values():
    print(i)

student1
student2
20111108
Omayer
Ahmed
['Bangladesh', 'Mymensingh', 'Gafargaon']

# If ... Else in python

In [ ]:
x=int(input("Take the value of x:"))
y=int(input("Take the value of y:"))

if x >y:
    print(x," is greater than ",y)

elif x==y:
    print(x,"is equal to",y)

else:
    print(x,"is less than",y)

Take the value of x:34
Take the value of y:34
34 is equal to 34

In [ ]:
#use of or operator with if ..else condition

x=int(input("Take the value of x:"))
y=int(input("Take the vlaue of y:"))
z=int(input("Take the vlaue of z:"))

if x or y > z:
    print(x,"or",y,"is greater than",z)

elif x or y == z:
    print(x,"or",y,"is equal to",z)

else:
    print(x,"or",y,"is less than",z)

Take the value of x:23
Take the vlaue of y:34
Take the vlaue of z:23
23 or 34 is greater than 23

In [ ]:
#use of and operator with if .... else condition

x=int(input("Take the value of x:"))
y=int(input("Take the vlaue of y:"))
z=int(input("Take the vlaue of z:"))

if x and y > z:
    print(x,"and",y,"are greater than",z)

elif x and y == z:
    print(x,"and",y,"are equal to",z)

else:
    print(x,"and",y,"are less than",z)

Take the value of x:34
Take the vlaue of y:34
Take the vlaue of z:34
34 and 34 are equal to 34

# Python loops

For loop

In [ ]:
#use of for loop in list
book = ['English', 'Bangla', 'Math', [1, 2, ['physics', 'chemistry', 'biology'], 3, 4], 40]

for i in book:
    print(i)

English
Bangla
Math
[1, 2, ['physics', 'chemistry', 'biology'], 3, 4]
40

In [ ]:
#loop through a string
for i in "Omayer Ahmed":
    print(i)

O
m
a
y
e
r

A
h
m
e
d

In [ ]:
#all itmes print from a list
food = ['egg', 'sandwich', ['bread', 1, 2, 3], 50]

for item in food:
    if isinstance(item, list) and 2 in item:
        sublist = food[2]
        for value in sublist:
            print(value)
    else:
        print(item)

egg
sandwich
bread
1
2
3
50

In [ ]:
def print_items(food):
    for item in food:
        if isinstance(item, list):
            print_items(item)

        else:
            print(item)

food = ['egg', 'sandwich', ['bread', 1, [100, 200], 2, 3], 50]
print_items(food)

egg
sandwich
bread
1
100
200
2
3
50

In [ ]:
#use of break statemnt

food = ['egg', 'sandwich','bread', 1]

for x in food:
    print(x)
    if x == "sandwich":
        break

egg
sandwich

In [ ]:
#use of continue statement
food = ['egg', 'sandwich','bread', 1]
for x in food:
    if x=='bread':
        continue
    print(x)

egg
sandwich
1

In [ ]:
#use of range(start,end ,increment)

for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
#nested loop
food = ['egg', 'sandwich','bread']
num =[1,2,3]
for i in food:
    for j in num:
        print(j,i)

1 egg
2 egg
3 egg
1 sandwich
2 sandwich
3 sandwich
1 bread
2 bread
3 bread

# Python Function

In [ ]:
#calling function

def function_name(a,b):


    print("addition:",a+b)
    print("subtraction:",a-b)
    print("Division:",a/b)


x=int(input("Take the value of x:"))
y=int(input("Take the value of y:"))

function_name(x,y)

Take the value of x:23
Take the value of y:34
addition: 57
subtraction: -11
Division: 0.6764705882352942

In [ ]:
#pass two string in a function

def String_Pass(fname,lname):
    print(fname," ",lname)

String_Pass("Omayer","Ahmed")

Omayer   Ahmed

In [ ]:
#multiple value pass in a single function

def pass_color(like):

    print("MY Favourite color is",like)
    return

pass_color("Green")
pass_color("Yellow")
pass_color("Blue")
pass_color("Cyan")

MY Favourite color is Green
MY Favourite color is Yellow
MY Favourite color is Blue
MY Favourite color is Cyan

In [ ]:
#list of item print using function calling

def List_Items(food):
    for i in food:
        print(i)

food=['egg', 'sandwich','bread','banana','pizza']

List_Items(food)

egg
sandwich
bread
banana
pizza

# Lambda Function

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression

In [ ]:
#syntax :(lambda parameter names : expression) (passing value as a parameter)

l=(lambda a,b : a*a+2*a*b+b*b)(3,2)

print(l)

25

In [ ]:
#use of lambda function inside a origenal function

def myfunction(n):
    return lambda a :a*n

apple=myfunction(3)
banana=myfunction(4)

print(apple(10))
print(banana(10))

30
40

# map() in python

The map() function executes a specified function for each item in an iterable.

In [ ]:
#use of map(func,obj like list,tuple etc)
def myfunction(a):
    return a*a*a


num=[1,2,3,4,5,6,7]
result=list(map(myfunction,num))
print(result)

[1, 8, 27, 64, 125, 216, 343]

In [ ]:
#use of tuple in map()
def myfunction(a,b,c):
    return a*b*c


t=tuple([1,2,3,4,5,6])
consequence=tuple(map(myfunction,t,t,t))
print(consequence)

(1, 8, 27, 64, 125, 216)

# Filter in python

In [ ]:
#use of filter() with anonymous function
l=[1,2,3,4,5,6]

result=list(filter(lambda x :x%2==0 ,l))
print(result)

[2, 4, 6]

In [ ]:
#use of filter(func name,obj) with naming function
def myfunction(x):
    return x%2==0

l=[3,4,5,7,8,200,300]
result=list(filter(myfunction,l))
print(result)

[4, 8, 200, 300]